@page
@model IndexModel

@{
    ViewData["Title"] = "Home Page";
}
<h1>List from Database</h1>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <select class="form-control">
                @foreach (var item in @Model.UsersList)
                {
                    <option value="@item.Value">@item.Text</option>
                }
            </select>
        </div>
    </div>
</div>
<hr>
<h1>List from Enum</h1>
<div class="row">
    <div class="col-4">
        <div class="form-group">
            <select asp-for="Utenti" asp-items="Html.GetEnumSelectList<Utenti>()" class="form-control"></select>
        </div>
    </div>
</div>